[2019-03-06 19:02] dstaudt opened #28 "Incorrect scope "webex:all" shown in README.md"
Incorrect scope "webex:all" shown in README.md example.  Currently the scope name is "spark:all"

[2019-04-29 17:59] olivierproffit commented on #28
@dstaudt good catch david, thanks. I fixed it.

[2019-04-29 17:59] #28 closed

[2019-05-17 15:28] mughalasim opened #30 "Cannot update to Socekt.io 14.0.0"
Reason for the update is simply due to the fact that I need to use Socket.io's latest SDK to connect to websockets for other functionality but cannot update it as it uses a version of Starscream that is not compatible with WEBEX SDK.

I'm running Xcode 10.2 and using Swift 4.2

**Pod File**
`pod 'WebexSDK', ~> 2.0.0
  pod 'Socket.IO-Client-Swift', ~> 14.0.0`

**Terminal**
`[!] CocoaPods could not

[2019-09-03 10:08] anoopkashok opened #35 "iOS Receiving and sending audio not working when we put app in background after starting call"
After starting a video call if we put the app in the background, both sending and receiving audio and the video stopped, may I Know do we need to do any additional setup to work at least audio in background.

[2019-09-24 05:24] farhanlatheef opened #36 "IOS archiving taking too much time."
Since switching from SparkSDK to WebexSDK even though normal build time is ok, while archiving it take too much time. Sometimes over an hour!.

[2019-10-20 07:39] farhanlatheef commented on #36
any update on this?.

[2019-10-23 07:50] MrShiY commented on #36
@farhanlatheef  what's the result?

[2019-10-29 18:10] olivierproffit commented on #36
@farhanlatheef  we are closing the issue since we can't reproduce it. Please let us know if it persists so that they further investigate.

[2019-10-29 18:10] #36 closed

[2019-12-20 06:32] chawatvish opened #41 "sbu.framework didn't enable bitcode flag"
I can't build my project because sbu.framework didn't enable bitcode flag.
Can rebuild that framework with enable bitcode, please?

[2020-01-16 16:43] aquacode opened #42 "Remove use of UIWebView in the SDK"
I get deprecated API usage warnings from Apple when I release an IPA to appstoreconnect using the Cisco webex-ios-sdk due to the SDK's usage of UIWebView.
Will this be removed anytime soon?

[2020-03-11 19:37] BandoKal opened #44 "Enhancement Request for Altering a User's Status and Availability"
I have a use-case where I would like the user to be able to alter their own status/availability from a mobile app.

[2020-03-16 19:41] krsboone commented on #44
Thank you for submitting your feature request. We opened the request with our product management group - if they elect to implement the new feature, we will announce it on our changelog (https://developer.webex.com/docs/api/changelog) and for larger features, also on our blog (https://developer.webex.com/blog). Please let us know if we can help with anything else.

[2020-03-16 19:41] #44 closed

[2020-03-27 14:18] midhunpmohan opened #46 "Initializer for conditional binding must have Optional type"
getting the following errors after installing webex-ios-sdk
 "Initializer for conditional binding must have Optional type, not 'MembershipReadStatus'"
"Initializer for conditional binding must have Optional type, not 'MembershipReadStatus'"

[2020-04-05 15:49] zmeyc commented on #42
@olivierproffit @kliu
ITMS-90809: Deprecated API Usage - Apple will stop accepting submissions of new apps that use UIWebView APIs starting from April 2020. See https://developer.apple.com/documentation/uikit/uiwebview for more information.

UIWebView seems to be used by Wme.framework which WebexSDK is using.

[2020-04-05 16:15] aquacode commented on #42
I believe latest release removed the reference and I would consider this resolved

[2020-04-07 04:16] olivierproffit commented on #42
@aquacode @zmeyc we just released the new iOS SDK 2.5 which includes an update of wme.framework that solves that issue. Please let us know if you find any other issue

[2020-04-07 04:16] #42 closed

[2020-04-07 04:19] olivierproffit commented on #46
Hi @midhunpmohan we just released the new iOS SDK 2.5. Do you still experience this issue?

[2020-04-14 11:33] EvgeniyGT commented on #41
+1

[2020-04-30 08:18] benshimd opened #48 "WebexSDK with Socket.io"
Hi, i have a project that needs to use both libraries but when i'm trying to install via cocoa pods i'm getting the following error:

CocoaPods could not find compatible versions for pod "Starscream":
  In snapshot (Podfile.lock):
    Starscream (= 4.0.0)

  In Podfile:
    Socket.IO-Client-Swift (~> 15.2.0) was resolved to 15.2.0, which depends on
      Starscream (~> 3.1)

    WebexSDK (~> 2.5.0

[2020-06-23 10:13] alessioliuzzi98 opened #53 "Alamofire 5.2 support"
Add support to the version 5.2 of Alamofire instead of 4.9.0

[2020-07-17 11:35] vsp2005 opened #56 "Unable to Start Video Call"
I have used the same code provided in the KitchenSink App (Available on Cisco Webex ,Website)
, its not Initiating  call  and also not receiving (H.264 AVC ) alert

[2020-07-28 10:46] Maor-Mac opened #57 "Unable to compile WebexSDK with Xcode 12"
Build failed when trying to compile the latest release of WebexSDK. The problem is with Starscream framework

![Untitled](https://user-images.githubusercontent.com/68903223/88656247-abad5c00-d0d8-11ea-946e-8e4f038ca320.png)

[2020-07-29 10:04] olivierproffit commented on #56
@vsp2005 have you tried using directly our kitchensink app through testflight (without building it) ?

[2020-07-29 10:04] olivierproffit commented on #56
see https://github.com/webex/webex-ios-sdk-example, section "download app"

[2020-07-29 16:57] olivierproffit commented on #56
@vsp2005 if your issue still happen you can open a troubleshooting ticket from here: https://developer.webex.com/support

[2020-07-29 16:57] #56 closed

[2020-09-03 13:26] aastlind opened #62 "New release with hotfixes"
Hello!

Looking through the repo and all branches there seems to be a lot of "hotfixes" that solves some of our feature needs.
Is there any plan for doing a proper release any time soon?

/Andreas

[2020-09-03 13:42] jeffmars commented on #62
Release 2.6, which will include all of the hotfixes, will be released in the next month or two. Currently planned for end of September if all goes well.

[2020-09-08 12:30] #62 closed

[2020-09-18 12:01] pontusjacobsson commented on #57
A quick fix if you need to get it to work is to fork this repo and change the starscream version in the podspec to `~> 4.0.4`.
Then use your local fork repo in your projects podfile instad.

[2020-09-19 11:56] shyamalschandra opened #64 "The Project doesn't build in Xcode 12 with Swift 5.3."
I am getting `No such module 'AlamofireObjectMapper'` error right now.  I used the Cocoapod package manager instructions to download but I am getting the following errors in the Package Resolution failure:

`https://github.com/tristanhimmelman/AlamofireObjectMapper has no Package.swift manifest for version 6.3.0`

Could you please contact the appropriate people to fix the packages that are missing

[2020-09-21 08:36] MrShiY commented on #64
SDK depends on `'AlamofireObjectMapper', '~> 5.1'`  I'm not sure why the error displayed ` version 6.3.0`

[2020-09-23 17:46] shyamalschandra commented on #64
Could the developers of the webex SDK please update the code to work with version 6.3.0?

[2020-09-24 16:26] EvgeniyGT commented on #64
Any updates here?

[2020-09-24 16:28] olivierproffit commented on #64
@shyamalschandra @EvgeniyGT XCode12 support will come in very few days with iOS SDK 2.6 release. Not sure of the Alamofire version we'll support.

[2020-09-25 10:48] mughalasim opened #66 "Upgrade to Alamofire 5.2.2 and SwiftyJson 5.0.0"
It would be great to have the SDK upgraded to use the latest alamofire and swiftyJson pods please. :)

[2020-09-28 15:35] krsboone commented on #57
webex-ios-sdk v2.6 was just released, which includes support for xCode 12.

[2020-09-28 15:35] #57 closed

[2020-10-06 05:35] shyamalschandra commented on #64
@olivierproffit: Please let me know as soon as the support for Xcode 12 is available.  Thank you!

[2020-10-06 06:13] EvgeniyGT commented on #64
Already available

[2020-10-06 11:05] olivierproffit commented on #64
@shyamalschandra the new SDK 2.6 supports XCode12 and iOS14

[2020-10-07 11:29] shyamalschandra commented on #64
The instructions on the [website](https://developer.webex.com/docs/sdks/ios) are incomplete and the resulting xcworkspace file doesn't build properly with many errors.  Could you please rectify the situation?

I am getting the following errors when I follow the step-by-step (incomplete) instructions on the Cisco website:

![Uploading Screen Shot 2020-10-07 at 6.28.43 AM.png…]()

[2020-10-08 08:31] olivierproffit commented on #53
duplicate with https://github.com/webex/webex-ios-sdk/issues/66

[2020-10-08 08:31] #53 closed

[2020-10-08 11:28] EvgeniyGT opened #68 "App hangs when trying to record a video via UIImagePickerController."
Environment:
- iOS 14.0.1
- Webex SDK: 2.6.0

[code]

Problem:
We noticed that app hangs when trying to record a video via UIImagePickerController after Webex SDK initialization.
We spend some time on debugging and find out that the problem lays in Microphone switching logic.
UIImagePickerController and **MicrophoneSelector** object (from Wme.framework) start "fighting" for Active microphone in a

[2020-10-08 14:31] MircoManiero opened #69 "Alamofire 5.0.5"
Hi,
is it possible to update Alamofire to 5.0.5 version?
I'm stumped with my project on this issue.
Thanks

[2020-10-09 03:38] MrShiY commented on #64
@shyamalschandra  have you resolved this issue? I have two solutions to reference.
1.  try `pod update`, if not work, please delete 'Podfile.lock', then pod update.
2. Alternative, change the ` Build Settings -> iOS Deployment Target` of the error dependencies as iOS 9.0.

[2020-10-09 03:53] MrShiY commented on #68
@EvgeniyGT  you are in a video session when you record a video, right?

[2020-10-09 17:29] EvgeniyGT opened #70 "Active speaker detection broken for grouped call."
Environment:

iOS 14.0.1
Webex SDK: 2.6.0

Preconditions:
Grouped call with User A, B, C

`MediaChangedEvent.activeSpeakerChangedEvent` never posting.
As a result, `isActiveSpeaker` in `CallMembership` object always `false` for each call participant.
Everything working fine in the previous WebexSDK version

For debugging you can check this function inside WebexSDK
`private func onMediaEngineDidAct

[2020-10-09 18:49] EvgeniyGT commented on #68
@MrShiY no. I just initialize Webex SDK and then present UIImagePickerController.

`
import UIKit
import WebexSDK

class ViewController: UIViewController {
    private var webexSDK: Webex?

    override func viewDidLoad() {
        super.viewDidLoad()

        setupWebex()

        DispatchQueue.main.asyncAfter(deadline: .now() + 5) {
            self.presentPicker()
        }
    }
}

private cla

[2020-10-10 10:13] MrShiY commented on #70
@EvgeniyGT can you collect logs from previous WebexSDK version you mentioned? thanks！

[2020-10-15 01:52] MrShiY commented on #70
The issue has been fixed in GithubIssues branch, can you have a try?
`pod 'WebexSDK', :git => 'git@github.com:webex/webex-ios-sdk.git', :branch => 'GithubIssues'`

[2020-10-15 01:53] MrShiY commented on #68
@EvgeniyGT  The issue has been fixed in GithubIssues branch, can you have a try?
`pod 'WebexSDK', :git => 'git@github.com:webex/webex-ios-sdk.git', :branch => 'GithubIssues'`

[2020-10-15 12:01] MrShiY commented on #64
Hi @shyamalschandra , I did some changes, can you pull the repo from [the branch](https://github.com/webex/webex-ios-sdk-example/tree/GithubIssues)  to see if it is helpful to you.

[2020-11-02 01:12] aastlind opened #74 "Can't build with Xcode 12 due to new Apple Silicon architecture"
We have Webex pod included as a dependency in a private pod and since Xcode 12 we can't build a new version of our pod due to architecture issues. Cocoapods build pods in "iphonesimulator, release"-mode and this fails since Xcode 12 has Simulator support for Apple Silicon (arm64) and the computers doesn't support this yet. I've tried to fix this on my own, but it seems like the only solution to th

[2020-11-03 03:33] MrShiY commented on #74
SDK supports arm64 architecture, it looks like something wrong with you project architecture. some suggestions below:
1. if you set VALID_ARCHS = arm64, please remove it from you project.
2. try like this.
![tISvF](https://user-images.githubusercontent.com/16798715/97947451-3ed8ea80-1dc8-11eb-8d17-a0b99ae4a849.png)
3. try to change your architecture.

[2020-11-03 07:50] MrShiY commented on #74
Or try like this in you APP
post_install do |installer|
    installer.pods_project.targets.each do |target|
        target.build_configurations.each do |config|
            config.build_settings["EXCLUDED_ARCHS[sdk=iphonesimulator*]"] = "arm64"
        end
    end
end

[2020-11-05 09:56] MrShiY commented on #74
@aastlind  are these suggestions helpful？

[2020-11-05 18:53] aastlind commented on #74
Will try this evening (CET), but isn't it possible for you to compile the bundled frameworks with arm64?

[2020-11-06 01:44] MrShiY commented on #74
SDK supports arm64 in real device, I think your error is to run with arm64 in a simulator，SDK doesn't support using arm64 for a simulator, @aastlind

[2020-11-08 23:37] aastlind commented on #74
Solved with some modifications, but removing arm64 from VALID_ARCHS in main target and excluding arm64 for "Any iOS Simulator SDK (Release)" in the WebexSDK-pod did the trick! Thank you for your guidance!

[2020-11-08 23:37] #74 closed

[2020-11-11 13:41] EvgeniyGT commented on #41
Any updates here?

[2020-11-13 10:48] chawatvish commented on #41
I think no update. TT BTW my project moved out from Webex bye~

[2020-11-17 10:50] #66 closed

[2020-11-25 14:58] hariel18 opened #79 "SPM support"
Hello,
is Swift Package Manager support in your plans for the near future?

Thanx in advance.

[2020-12-08 11:30] #70 closed

[2020-12-08 11:30] EvgeniyGT commented on #70
@MrShiY Thanks. The issue has been fixed.

[2020-12-08 11:31] #68 closed

[2020-12-08 11:31] EvgeniyGT commented on #68
@MrShiY Thanks. The issue has been fixed

[2020-12-10 03:20] #64 closed

[2020-12-10 03:22] MrShiY commented on #30
SDK Starscream is  '~> 4.0.4' now

[2020-12-10 03:22] #30 closed

[2020-12-10 03:26] MrShiY commented on #35
Obsolete issue

[2020-12-10 03:26] #35 closed

[2020-12-15 15:22] krsboone commented on #69
Hello,

The Alamofire dependency was updated to 5.2.0 in recent release of the webex-ios-sdk v2.7.0. Please update your project, and let us know if you need anything else.

[2020-12-15 15:22] #69 closed

[2020-12-16 02:59] MrShiY commented on #46
This issue has fixed in release 2.5

[2020-12-16 02:59] #46 closed

[2020-12-17 08:44] olivierproffit commented on #79
Hi @hariel18   Thanks for your feature request.
If it's important for your use case, could you use our feature request tool https://ciscocollaboration.aha.io/session/new and vote if existing already otherwise create a new one.
Please make sure you document your expectations and your business case. This way, this feature request will go up in our priority list.
Closing this ticket as we track featu

[2020-12-17 08:44] #79 closed

[2020-12-17 09:43] MrShiY commented on #48
Hi @benshimd , SDK supports Starscream ~>4.0.4, you must select a version of Socket.IO-Client-Swift which can matches Starscream, Starscream (~> 3.1) is very old，SDK has not supported it.  Alternative, you can replace Socket.IO with  Starscream directly.

[2020-12-18 06:25] #48 closed

[2020-12-18 06:30] MrShiY commented on #41
Sorry, SDK doesn't support enabling bitcode for now.

[2020-12-18 06:30] #41 closed

[2020-12-18 14:49] olivierproffit commented on #41
Hi @chawatvish @EvgeniyGT  we don't support bitcode on the mobile SDKs.
If it's important for your use case, feel free to go to our feature request tool https://ciscocollaboration.aha.io/session/new and vote if existing already otherwise create a new one.
Please make sure you document your expectations and your business case. This way, this feature request will go up in our priority list

[2020-12-21 16:26] chawatvish commented on #41
Thank you all you guy for the information. @MrShiY @olivierproffit

[2021-03-24 05:41] harshTechEfficio opened #88 "module compiled with Swift 4.1 cannot be imported by the Swift 5.3.1"

[2021-04-01 09:57] MrShiY commented on #88
<img width="817" alt="Screen Shot 2021-04-01 at 5 56 11 PM" src="https://user-images.githubusercontent.com/16798715/113277765-a8c3d480-9313-11eb-8218-59e4f6036dba.png">
can you try to switch the command line tool?

[2021-04-06 17:45] ngcgolf11 opened #91 "How i can integrate this SDK into my Reactnative mobile application please guide"
Hi Support i am new to this Application we want to use webex into our system how we can implement webex in Reactnative please guide us thanks in advance

[2021-04-08 03:33] MrShiY commented on #88
@harshTechEfficio did you resolve this issue?

[2021-04-08 08:30] olivierproffit commented on #91
@ngcgolf11 we don't propose ReactNative product yet.
FYI we propose native iOS (swift) and Android SDKs and also JS SDK and React web components https://developer.webex.com/docs/widgets
If that doesn't fit your needs, you may open a feature request with the details of your use case here: https://ciscocollaboration.aha.io/session/new

[2021-04-08 18:20] lalli-flores commented on #91
@ngcgolf11, as @olivierproffit stated, please review the documentation on https://developer.webex.com/ so you can see all of our offerings for UI (widgets/components) and SDKs. If you have further questions, please join the developer support space as described in https://developer.webex.com/support.

[2021-04-08 18:20] #91 closed

[2021-04-23 11:01] harshTechEfficio commented on #88
I only have one XCode version and my Command Line Tools is pointed out to the correct version. I still get the same error.
"module compiled with Swift 4.1 cannot be imported by the Swift 5.3.1"

[2021-04-25 10:19] MrShiY commented on #88
Are you using [our example project](https://github.com/webex/webex-ios-sdk-example)? @harshTechEfficio

[2021-04-25 10:39] MrShiY commented on #88
<img width="719" alt="Screen Shot 2021-04-25 at 6 37 23 PM" src="https://user-images.githubusercontent.com/16798715/115990348-4fd71b80-a5f5-11eb-9902-df9c31740c54.png">
or you can try to change swift version of SDK.

[2021-04-28 04:25] harshTechEfficio commented on #88
In the example project, the SDK is working fine.  I'm using pods to add the framework to my project. When I add it to my project it is throwing me an error.

[2021-04-29 05:54] MrShiY commented on #88
@harshTechEfficio Can you match your project setting with example project setting? I think `WebexSDK` is fine, may be due to project setting.

[2021-04-29 05:58] MrShiY commented on #88
Or can you try to create a new project and pod install `WebexSDK `?

[2021-07-16 06:12] FazilMuhammed opened #106 "Any possible Webex on React Native ?"
Help

[2021-08-12 02:22] hirenpatel8891 opened #108 "Speaker property for Call object is not working while migrating to V2 to V3"
We are migrating our implementation from 2.8.0 to new version 3.0.0 for our video call implementation.
We have found that speaker value of the call object is not working for us which was working in 2.8.0. We have requirement to enable or disable the speaker of the phone while video calling.

Here is the implementation
 isLocalSpeakerEnable = !isLocalSpeakerEnable
 self.call?.isSpeaker = isLocalSpe

[2021-08-12 08:06] hirenpatel8891 opened #109 "Video is not render if the person disconnect and rejoin again the same room with Version 3.0.0"
We have tested this scenario in kitchen application and our application implementation with version 3.0.0
Setup : We have enabled Start call with video option switch.
Scenario which we have tested in kitchen sink app Version 3.0.0 :
User1 is joining from Device 1
User2 is joining from Device 2
For the first time it's working fine. But if the User2 is disconnect the call and rejoin it User1 (Who is

[2021-08-12 09:14] jbenyovs commented on #108
@hirenpatel8891 please note, that this is a known issue and will be resolved with iOS SDK 3.1.

[2021-08-12 14:53] jbenyovs commented on #109
@hirenpatel8891 I have tested the scenario using a VM with Android 11 and a physical Android 11 device but User1 was able to see User2's video after User2 left the space meeting and joined again. Not sure if you have used space meetings or scheduled meetings. Also please include the full verbose logs from the KS app, so we can check what actually happened on your side.

[2021-08-12 15:32] hirenpatel8891 commented on #109
@jbenyovs  We have tested it to two iOS device iPhoneXR and iPhone SE. We are using space meeting. We have login as guest with JWT token. Expectation is whenever user rejoin the existing call without killing the application his/her video should be automatically visible to another user. As of now we need to turn off and turn on video button after joining the call. We have attached image the setup f

[2021-08-16 05:10] hirenpatel8891 commented on #109
One more observation:
I have downloaded  KitchenSink  from the TestFlight link : https://testflight.apple.com/join/obJ7Inof
For Version 3.0.0(6) : This issue is happening
For Version 3.0.0(7) : Its is working fine

The KitchenSink GitHub code which we have downloaded from the URL(https://github.com/webex/webex-ios-sdk-example) is referring the Version 3.0.0(6). We are facing same issue in it.

Can

[2021-08-16 10:11] hirenpatel8891 commented on #108
@jbenyovs  Can you please update when we can expect the release of the new version of the SDK for iOS?

[2021-08-17 08:49] jbenyovs commented on #108
@hirenpatel8891 the 3.1 version of the iOS SDK was just released. Please test it.

[2021-08-18 08:34] jbenyovs commented on #109
@hirenpatel8891  thanks for the reply. We are in discussion with engineering to make 3.0.7 available.

[2021-08-18 10:26] jbenyovs commented on #109
@hirenpatel8891 note, that the KS app was updated to 3.1 just yesterday. Can you please test there and see if the issue is reproducible? Thanks

[2021-08-19 05:19] hirenpatel8891 opened #112 "Login with User1 JWT token. Logout and Relogin with User2 token. Its not working"
**Scenario**:
We have two JWT tokens for User1 and User2 who are associated with two different rooms.
User 1:
JwtToken : JwtTokenOfUser1
RoomId : "A"

User 2:
JwtToken : JwtTokenOfUser2
RoomId : "B"

1) Login with the User1 token and join the call or send message with RoomId "A"
2) Logout (Deauthorize) for the User1
3) Login with the User2 token
4) User2 is not able to join the call or send the me

[2021-08-19 07:36] hirenpatel8891 commented on #108
@jbenyovs  I have tested this SDK version 3.1 version with defaultLoudSpeaker property true. We are able to hear the sound from loudspeaker and Its working fine.

The changes which made in this SDK 3.1. version is breaking the speaker enable and disable flow.

1) The value of property **self.call?.isSpeaker**  is now available as get only in SDK 3.1, Which was previously get-set property and we we

[2021-08-19 11:23] hirenpatel8891 commented on #109
@jbenyovs  I have downloaded latest KitchenSink App sample code from https://github.com/webex/webex-ios-sdk-example.
Its referring SDK 3.1. Still we are facing the same issue

[2021-08-19 12:20] jbenyovs commented on #112
@hirenpatel8891 I tried reproducing it with the 3.1 KS app and I saw the space details and such of the previous user, so I contacted engineering for that. We would still need more info from you about "4. User2 is not able to join the call or send the message". What exactly is the error you are seeing? Can you provide full verbose logs?

[2021-08-19 14:15] jbenyovs commented on #108
@hirenpatel8891 had a discussion with engineering about this issue and they confirmed, that some further improvements that would completely solve the issue you reported here will be released with the iOS SDK 3.2. Unfortunately the only workaround is if you can use AVRoutePicker to toggle between speaker and ear piece and not make defaultLoudSpeaker as true. But that basically takes back to the ini

[2021-08-19 14:45] jbenyovs commented on #109
@hirenpatel8891 I have tested the scenario again with the iOS KitchenSink 3.1, but it worked for me. Here is what I did:
- joined from the KS app on device 1 (iPhone SE) with a Guest User (GU1) and joined an ongoing space call
- from device 2 (iPhone 11 VM) I joined with another Guest User (GU2) and I was able to see GU1's video
- I hung up the call on device 1 with GU1, on device 2 GU1 was out of

[2021-08-24 09:53] AmrSaied opened #113 "webex.initializ not work on really device"
webex.initializ not work on  really device  but work fine on simlator
 webex.initialize { result in
                    if result {
                        print("User is authorized")
                        self.webxIntegration()
                    } else {
                        authenticator.authorize(parentViewController: self) { result in
                        if result == .success {

[2021-08-24 14:32] jbenyovs commented on #113
@AmrSaied can you please provide the details of the physical device that you are using? Can you also test using the iOS KitchenSink application https://github.com/webex/webex-ios-sdk-example . Do yo see the same behaviour there with a physical device if you run the code from XCode on the device? Please also test on TestFlight and check if you are able to login there: https://github.com/webex/webex

[2021-09-08 13:55] hirenpatel8891 opened #116 "Thumbnail URL issue when we are getting for message through Socket in version V3"
When we are getting message through the **onEvent** method of webex we are facing following issues :

1) For sender user thumbnail is not there so we can not preview it.
2) For receiver user image thumbnail is working but pdf thumbnail we are getting error WebexSDK.WebexError.failed(reason: "notAvailable")

NOTE: This thing is working fine when we are fetching message from message list. The above

[2021-09-14 11:23] pumoru commented on #112
@hirenpatel8891 Can you please provide us with more information on about the 4

1. "4. User2 is not able to join the call or send the message". What exactly is the error you are seeing? Can you provide full verbose logs?

[2021-10-02 11:59] ralagana commented on #109
@hirenpatel8891 Can you comment on the above asks please?

[2021-12-15 09:24] jbenyovs commented on #112
@hirenpatel8891 so far we were not able to fully reproduce this issue. Please check a few things on your side:
- this was initially reported for 3.1, now we are at 3.2.1, please test the new version and check if the issue persists
- if the issue persists, please provide full verbose logs as requested above
- if the issue persists, please try to provide a video showing the problem exactly
Thank you

[2022-04-26 05:20] hirenpatel8891 opened #123 "Remote Participant Video Size Issue"
I am using upgrading Cisco SDK  V2(2.8.0) to V3(3.4.0) version from my application. We have requirement of displaying full screen video for the remote participant. In previous version of V2 we are getting video view of entire screen but now with the upgrading the Cisco SDK to 3.4.0, We found that video view displaying empty space on top and bottom of the side. Same issue we are facing for local vi

[2022-04-26 05:20] hirenpatel8891 commented on #108
@jbenyovs

Its working fine. You can close it

[2022-04-26 08:07] hirenpatel8891 commented on #109
@ralagana  I have checked this in 3.4.0 and Its working fine.

[2022-04-26 12:25] sandiban commented on #123
Hi @hirenpatel8891
This is Sandip from Webex API & SDK Dev Support team.
For this request, there has been one Developer Support ticket has been raised which is https://voxeolabs.zendesk.com/agent/tickets/108460
I'm not sure if you have direct access to it, but to let you know - we're already testing on this one.

So, I tested and shared the screen shot here from my outcome and to let you know, I'v

[2022-04-27 05:06] hirenpatel8891 opened #124 "Issue with the webex initialisation and authorisation"
We are upgrading the our Cisco SDK with V2 to V3 version.
In version V3 it's mentioned that before invoking any api webex.initialize is need be invoked.

Here is the implementation for it and I am facing issue in specific use-cases for webex.initialize and authorisation process.
We are using JWT token for the authentication.

        webex.initialize { [self] (isLoggedIn) in
            //

[2022-04-28 08:29] sandiban commented on #124
Hi Hiren,

Before we proceed further, could I ask you to give it a try with our sample test KitechSink app - https://github.com/webex/webex-ios-sdk-example
Please note, this sample KitchenSink (KS) app is also updated with the latest iOS SDK v3.4.0
We need to get you tried with the sample one since we don't know how your system is designed and working. There might be some error as well.
If you're

[2022-04-28 12:29] hirenpatel8891 opened #125 "Application Crashing Randomly During Video Consultation"
Application is crashing randomly during the video consultation in the version 3.4.0

We have found that application is crashing randomly during the consultation.  Here I have attached detail regarding it.

![Screenshot 2022-04-27 at 3 07 41 PM](https://user-images.githubusercontent.com/70189503/165724240-5dda9846-0061-4340-8735-ce8983262f99.png)

![Screenshot 2022-04-27 at 3 09 13 PM](https://user

[2022-04-28 12:29] hirenpatel8891 commented on #124
@sandiban

Thanks for the reply.

If you want to regenerate this issue in kitchen sink application than you may need to change few line in the code for kitchen sink app.
In the Kitchen Sink App state is persist in the key loginType to UserDefaults. To reproduce this issue comment that logic of
persisting it.
Please comment below line in LoginViewController swift file.
UserDefaults.standard.setValu

[2022-04-28 12:34] ralagana commented on #125
@hirenpatel8891 can you please clarify how you are getting this issue exactly? What steps are you taking to reproduce this?
also are you reproducing this with the [KS app](https://github.com/webex/webex-ios-sdk-example) or your own implementation? Would be great if you could provide full logs in an attachment from the KS app please, if reproducible there.

Might be easier if you reach out to us di

[2022-05-09 09:49] spardosj opened #126 "opening new direct conversation"
unable to open a **new direct conversation** using this methods:
![image](https://user-images.githubusercontent.com/84846718/167384355-82295b2d-cbca-4cfd-9b75-de04a8fef273.png)
retrieving this error from sdk:
![image](https://user-images.githubusercontent.com/84846718/167384491-c54e1eb3-595f-4266-8e83-de421f53cc7f.png)

unlike the working implementation in webex api.
<img width="518" alt="image" s

[2022-05-09 09:59] spardosj opened #127 "error during retrieving user via "getme""
Unable to retrieve the user using the getme function declared in PersonClient, fail with error "Bad request" with a few user after the login, using a fallback after this error with the user mail saved during login return the correct user.

[2022-05-09 10:02] spardosj opened #128 "Data not aligned after fire of new space event / new message."
After the fire of the events receive "Decrypting" in title for space and text for message.
The SDK only working in update events with the correct data.

[2022-05-09 10:08] jbenyovs commented on #128
@spardosj can you please confirm the following:
- is the issue reproducible using the iOS KS app: https://github.com/webex/webex-ios-sdk-example ?
- please provide a full, step by step description on how to reproduce the issue.
- what version of the iOS SDK are you using if the issue is not reproducible with the KS app?
- do you have screenshots showing the issue?
- do you have the full client log

[2022-05-09 11:28] jbenyovs commented on #127
@spardosj can you please specify how exactly you are retrieving the user using getMe() ? Are you using the https://github.com/webex/webex-ios-sdk-example app? If so, please describe the exact steps to reproduce this.

[2022-05-09 11:54] spardosj commented on #127
<img width="1187" alt="image" src="https://user-images.githubusercontent.com/84846718/167403662-39d24650-e71b-450e-9b82-a35a3f84ab68.png">
function where call the "getme"

<img width="392" alt="image" src="https://user-images.githubusercontent.com/84846718/167404141-81f9aa51-7789-4b03-8481-8448171c6097.png">
"self.loadMe()", this is the code for re-auth the user but is quite identical to login.

s

[2022-05-09 12:58] jbenyovs commented on #127
@spardosj I just tested the getMe() function in the iOS KS app, but it worked for me there, details of the user were provided
![image](https://user-images.githubusercontent.com/54305477/167414131-1b506c96-72a9-4720-a979-ac45aac8cdff.png)

You mentioned earlier that "_fail with error "Bad request" with a few user after the login_" so I am assuming it is not reproducible with **every** user? If that

[2022-05-09 13:13] jbenyovs commented on #126
@spardosj I just tested to open a new conversation using the iOS SDK. For that I created a new bot with another account (different to the one authenticated in the SDK) and send a message. It worked fine, the space was created, the message shows up:
![image](https://user-images.githubusercontent.com/54305477/167417118-59101688-fa6a-4ca0-9214-32afd11f2735.png)

![image](https://user-images.githubuse

[2022-05-09 14:50] spardosj commented on #128
<img width="623" alt="image" src="https://user-images.githubusercontent.com/84846718/167434219-662b15c9-d592-4cd6-9717-865a7d3030f8.png">
Same issue in kitchen sink app, unable to fetch correctly the data from the "onevent" callback in SpaceClient and MessageClient, look the watch region in screenshot.
In Kitchen sink all the event call a function for refresh the array used in the view, a new spac

[2022-05-10 15:52] spardosj commented on #128
![image](https://user-images.githubusercontent.com/84846718/167669923-25851807-0036-48c3-985e-d9e5c143053d.png)
@jbenyovs thanks for the response, in the screenshot the key title in the payload is "Decrypting Conversation" but in webex up is "pippo161" when the sdk fire the create event in onEvent function.

[2022-05-12 10:22] jbenyovs commented on #123
@hirenpatel8891 can you please open a support ticket with us - email to devsupport@webex.com - and send us the full client logs and include the full changes that you have done in the KitchenSink app, so we can continue testing on our side? Thank you

[2022-05-12 10:24] jbenyovs commented on #124
@hirenpatel8891 yes, please send an email to devsupport@webex.com and we will look into it. Thank you

[2022-05-13 08:49] jbenyovs commented on #128
@spardosj thank for the reply, but we are still missing the reproduction part. Also, as recommended, could you maybe open a Dev Support ticket with us - email to [devsupport@webex.com](mailto:devsupport@webex.com) - that way we might iron out the details easier. Thank you

[2022-05-13 18:56] spardosj commented on #128
Reproduction steps:
1 - create a breakpoint into the spaces.onEvent function in create space case
2 - send a new case to the user via another user
3 - inspect the payload after the breakpoint is fired

In the payload you notice the key "title" will equal to "Decrypting Conversation"

Thank @jbenyovs

[2022-05-16 13:39] jbenyovs commented on #128
@spardosj  okay, thank you for the steps. I will open a ticket with engineering, for that would you mind opening a ticket with us as requested before - email to [devsupport@webex.com](mailto:devsupport@webex.com) ? The reason I keep asking for it, is that I can link the support ticket with the engineering ticket, but I can't do the same for the GitHub issue. So if you open a support ticket, we can

[2022-05-25 08:45] hirenpatel8891 opened #129 "Requirement of display indication of the message Sent,Delivered, Read status."
We have requirement of display indication of the message Sent,Delivered, Read status. We are using the Cisco SDK for Chat feature. We have not found any API which accommodate this  requirement.
Can you please confirm that CISCO SDK is providing any API for this?

Please guide us on this.

[2022-05-25 12:23] jbenyovs commented on #129
@hirenpatel8891 checked with engineering here are the details:

- Sent: You need to look at the result value in completionHandler of [webex.messages.post(_:toSpace:mentions:withFiles:queue:completionHandler:)](https://webex.github.io/webex-ios-sdk/Classes/MessageClient.html#/s:8WebexSDK13MessageClientC4post_7toSpace8mentions9withFiles5queue17completionHandleryAA0C0V4TextVSg_SSSayAA7MentionOGSgSayA

[2022-07-30 16:16] nicolasmelo1 opened #133 "Trying to extract this SDK to a react native package that can be reused"
# Bug Report

__TL.DR.:__ When i compile my custom library it compiles, but when i try to use the library i've created on a real app, the app does not compile. And it really seems with WebexSDK package because with other packages/pods it works.

### 🔎 Search Terms

react native webex sdk, webex ios sdk as package, extract ios webex

### 🕗 Version & Regression Information

3.5.0

### 🛠 Tool Used

M

[2022-08-01 05:52] Rudsriva commented on #133
These frameworks are universal binaries so you'll need to either strip the Simulator build to get the required iOS framework or you can mark Validate Workspace to Yes to build successfully. Also you'll have to mark Enable Bitcode to No. These config you can find in Build Settings.

You would need to extract the binaries from these paths (ref. attached images) and link it in your new framework, the

[2022-08-01 13:30] nicolasmelo1 commented on #133
Oh nice,

Thanks for your response, so, since i've read your message i've been trying to make it work but still without any success. One thing that i've noticed is that you compiled Test to a Test **framework**, can't i compile the source code to a **static library**?

it's still giving me this error:
[code]
![Captura de Tela 2022-08-01 às 10 27 58](https://user-images.githubusercontent.com/12915

[2022-09-07 05:44] Arman-Morshed commented on #124
HI @hirenpatel8891
Did you find any solution to your problem? I'm facing the same issue.

[2022-09-15 06:34] Arman-Morshed opened #135 "Webex initialisation and authorisation issue on iPhone"
When user tries to login to the app using JWT token, on real device  WebexSDK.Authenticator fails as method  `authenticator.authorizedWith(jwt: textField?.text ?? "", completionHandler: { ... }` does not return with the result, but it does return when user tries to login with expired JWT token and shows error. Due to which user fails to login and app crashes as a user tries to send message or init

[2022-10-31 02:17] vineeth0805 opened #140 "Pod is not working in m1 chip system"
I have project in intel system.now i want to use that project in m1 chip system but i am getting errors regarding this pod.Please help me

[2022-11-08 22:03] prabel opened #141 "AppStore rejection: The app references non-public selectors in Frameworks/UCFBridge.framework/UCFBridge: terminate"
Hey,
Today I try to upload a new app version to TestFlight, but unfortunately, my build was rejected. It was the first build that includes Webex SDK.
As I saw, this package UCFBridge is used in your SDK. Do you have a suggestion idea how I can resolve this issue?

Thanks for help

[2022-11-20 07:03] hazeenafarook commented on #141
Hi Prabel,

This issue is fixed with iOS SDK 3.7.1 release, please update the pods and retry.

Regards,
Hazeena Farook

[2022-11-30 14:46] hirenpatel8891 opened #143 "Video size issue with cross platform (Mobile to Web)"
We are using Webex platform for both web and mobile video calling feature. We are using latest SDK for both the platform.
We have found that there is video size issue when we are testing with Mobile to Web. Here I have attached the screenshot for the same. Web has joined from laptop and mobile has joined from iOS device. Video from Web is displaying very small and in landscape in mobile.

We are u